pytorch-lightning==2.2.3
datasets==2.19.0
transformers==4.40.1
scikit-learn==1.4.2
tensorboard==2.16.2
wandb==0.16.6
torchmetrics==1.3.2
matplotlib==3.8.4
seaborn==0.13.2
hydra-core==1.3.2
omegaconf==2.3.0
hydra_colorlog==1.2.0
onnxruntime==1.17.3
onnx==1.16.0
onnxscript
fastapi==0.110.3
uvicorn==0.29.0
dvc[gdrive]
dvc[s3]